
	<h1>
		<%= @post.title %>
	</h1>
	<p>
		Submitted <%= time_ago_in_words(@post.created_at) %> ago
	</p>
	<p>
		<%= @post.body %>
	</p>

<h2>Comments</h2>
	<%= render "comments/comment" %>

<h2>Leave a comment</h2>
	<%= render "comments/form" %>